*.class
*.log
.idea
.DS_Store
*.pyc
.mypy_cache/

# Scala
src/test/scala/*.sc
.metals/

# Secret data
src/test/resources/sandbox

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Vagrant
.vagrant
VERSION
