*.class
*.log
.idea
.DS_Store

# Scala worksheets
src/test/scala/*.sc

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Vagrant
.vagrant
VERSION

# Development
TAGS
